In [1]:
import numpy as np
import pandas as pd

In [2]:
untargated = np.load("sunday/untargeted_results.npy")

In [3]:
df_unt = pd.DataFrame(untargated)

In [4]:
df_unt.head()

    0    1         2    3    4    5    6    7    8    9    10
0  0.0  1.0  1.241582  8.0  8.0  8.0  8.0  1.0  1.0  1.0  1.0
1  1.0  5.0  1.915033  3.0  3.0  3.0  3.0  1.0  1.0  1.0  1.0
2  2.0  1.0  1.485305  8.0  9.0  8.0  8.0  1.0  1.0  1.0  1.0
3  3.0  8.0  1.529611  5.0  5.0  5.0  5.0  1.0  1.0  1.0  1.0
4  4.0  6.0  0.929549  8.0  8.0  8.0  8.0  1.0  1.0  1.0  1.0

In [5]:
df_unt.columns = ['id', "true_label", "distortion", "model_0_pred", "model_1_pred", "model_2_pred", "model_3_pred",
              "model_0_success", "model_1_success", "model_2_success", "model_3_success"]

In [6]:
df_unt.head()

,id,true_label,distortion,model_0_pred,model_1_pred,model_2_pred,model_3_pred,model_0_success,model_1_success,model_2_success,model_3_success
0,0.0,1.0,1.241582,8.0,8.0,8.0,8.0,1.0,1.0,1.0,1.0
1,1.0,5.0,1.915033,3.0,3.0,3.0,3.0,1.0,1.0,1.0,1.0
2,2.0,1.0,1.485305,8.0,9.0,8.0,8.0,1.0,1.0,1.0,1.0
3,3.0,8.0,1.529611,5.0,5.0,5.0,5.0,1.0,1.0,1.0,1.0
4,4.0,6.0,0.929549,8.0,8.0,8.0,8.0,1.0,1.0,1.0,1.0

In [7]:
df_unt["distortion"].mean()

1.796972701418683

In [8]:
for i in range(4):
    print df_unt["model_"+str(i)+"_success"].mean()

1.0
1.0
1.0
1.0

In [19]:
1 and 1

1

In [22]:
success = []
for i in xrange(df_unt.shape[0]):
    s = 1
    for j in xrange(4):
        s = s and df_unt.iloc[i]["model_"+str(j)+"_success"]
    success.append(s)

In [ ]:
sum(success)

In [24]:
df_unt["success"] = success

In [26]:
for i in range(4):
    del df_unt["model_"+str(i)+"_success"]

In [27]:
df_unt.head()

,id,true_label,distortion,model_0_pred,model_1_pred,model_2_pred,model_3_pred,success
0,0.0,1.0,1.241582,8.0,8.0,8.0,8.0,1.0
1,1.0,5.0,1.915033,3.0,3.0,3.0,3.0,1.0
2,2.0,1.0,1.485305,8.0,9.0,8.0,8.0,1.0
3,3.0,8.0,1.529611,5.0,5.0,5.0,5.0,1.0
4,4.0,6.0,0.929549,8.0,8.0,8.0,8.0,1.0

In [28]:
df_unt.to_csv("sunday/untargeted_results.csv")

In [12]:
targeted = np.load("sunday/targeted_results.npy")

In [13]:
df_t = pd.DataFrame(targeted)

In [14]:
df_t.head()

    0    1    2    3         4    5    6    7    8    9    10   11   12
0  0.0  0.0  1.0  0.0  3.462266  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
1  1.0  0.0  1.0  2.0  2.471175  2.0  2.0  2.0  2.0  1.0  1.0  1.0  1.0
2  2.0  0.0  1.0  3.0  1.869279  3.0  3.0  3.0  3.0  1.0  1.0  1.0  1.0
3  3.0  0.0  1.0  4.0  2.523081  4.0  4.0  4.0  4.0  1.0  1.0  1.0  1.0
4  4.0  0.0  1.0  5.0  2.413496  5.0  5.0  5.0  5.0  1.0  1.0  1.0  1.0

In [15]:
df_t.columns = ['sample', "id", "true_label", "target_label", "distortion", "model_0_pred", "model_1_pred", "model_2_pred", 
                "model_3_pred", "model_0_success", "model_1_success", "model_2_success", "model_3_success"]

In [16]:
df_t["distortion"].mean()

2.206125106534755

In [17]:
for i in range(4):
    print df_t["model_"+str(i)+"_success"].mean()

1.0
1.0
1.0
1.0

In [30]:
success_t = []
for i in xrange(df_t.shape[0]):
    s = 1
    for j in xrange(4):
        s = s and df_t.iloc[i]["model_"+str(j)+"_success"]
    success_t.append(s)
df_t["success"] = success_t

In [38]:
df_t.head()

,sample,id,true_label,target_label,distortion,model_0_pred,model_1_pred,model_2_pred,model_3_pred,success
0,0.0,0.0,1.0,0.0,3.462266,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,1.0,2.0,2.471175,2.0,2.0,2.0,2.0,1.0
2,2.0,0.0,1.0,3.0,1.869279,3.0,3.0,3.0,3.0,1.0
3,3.0,0.0,1.0,4.0,2.523081,4.0,4.0,4.0,4.0,1.0
4,4.0,0.0,1.0,5.0,2.413496,5.0,5.0,5.0,5.0,1.0

In [39]:
for i in range(4):
    del df_t["model_"+str(i)+"_success"]

KeyError: 'model_0_success'

In [40]:
df_t.to_csv("sunday/targeted_results.csv")

In [35]:
df_t["id"].max()

7.0

In [36]:
res = []
for i in xrange(8):
    dists_targs = []
    for j in xrange(9):
        index = i * 9 + j
        targ = df_t.iloc[index]["target_label"]
        dist = df_t.iloc[index]["distortion"]
        dists_targs.append((dist, targ))
    min_vals = min(dists_targs)
    
    unt_dist = df_unt.iloc[i]["distortion"]
    unt_label = df_unt.iloc[i]["model_0_pred"]
    
    d = min_vals[0] < unt_dist
    res.append(d)

In [37]:
res

[False, False, False, False, False, True, False, True]